@font-face {
    font-family: f1;
    src: url(/fonts/63e36b9bb480b8628b09c180_SofiaPro-Regular.woff2);
}
@font-face {
    font-family: f2;
    src: url(/fonts/67d46f1ca88fba5bdcfe88d6_SofiaPro-SemiBold.woff2);
}
@font-face {
    font-family: f3;
    src: url(/fonts/67d9f7547c0959798ee9191a_SharpGroteskSmBold-18.woff2);
}
@font-face {
    font-family: f4;
    src: url(/fonts/67d9f7549ac198e8ea5683a3_Noka-Bold.woff2);
}
@font-face {
    font-family: f5;
    src: url(/fonts/67fd080219be9afdb494fc17_Sharp-Grotesk-Medium17.woff2);
}
@font-face {
    font-family: f6;
    src: url(/fonts/67fd0802adbfd64f2d029948_Sharp-Grotesk-Bold15.woff2);
}
@font-face {
    font-family: f7;
    src: url(/fonts/67fd0803d2cf5100ccbe8b6f_Sharp-Grotesk-Book19.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    position: relative;
    nav{
        position: fixed;
        top: 0;
        width: 100%;
        background-color: white;
        padding: 0rem;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        .inner{
            
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.7rem 1.5rem;
            
            overflow: hidden;
            .left{
                display: none;
                align-items: center;
                justify-content: start;
                width: 33%;
                gap: 2rem;

                a{
                    text-decoration: none;
                    color: #521FCC;
                    font-family: f5;
                    font-size: 1.08rem;
                    transition: all ease 0.6s;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            .center{
                width: 33%;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 90%;
                }
            }
            .right{
                display: none;
                align-items: center;
                justify-content: end;
                width: 33%;
                gap: 2rem;
                a{
                    text-decoration: none;
                    color: #521FCC;
                    font-family: f5;
                    font-size: 1.08rem;
                    transition: all ease 0.6s;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            .rright{
                display: flex;
                font-size: 1.7rem;
            }
        }
    }
    section.view1{
        background-color: #00A3D8;
        padding: 6rem 0rem;
        padding-bottom: 0;
        display: flex;
        align-items: center;
        gap: 0rem;
        overflow: hidden;
        flex-direction: column;

        .top{
            padding: 2rem 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            h2{
                font-size: 2.72rem;
                color: #521FCC;
                font-family: f3;
            }
            .txt{
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 1rem;

                p{
                    font-family: f5;
                    font-size: 1.3rem;
                    color: #521FCC;
                }
                button{
                    width: fit-content;
                    padding: 1rem 2rem;
                    background-color: #E50192;
                    color: white;
                    font-family: f3;
                    border: none;
                    border-radius: 2rem;
                    font-size: 1rem;
                    cursor: pointer;
                }
            }
        }

        .bottom{
            width: 100%;
            position: relative;
            padding: 10rem 0rem;
            .circle{
                position: absolute;
                padding: 10rem 14rem;
                bottom: -50%;
                left: 0%;
                transform: translate(0,-1%);

                border-radius: 50%;
                background-color: white;
                z-index: 0;

                img{
                    position: absolute;
                    top: -20%;
                    left: 40%;
                    transform: translate(-40%,0);
                    width: 60%;
                    z-index: 2;
                }
            }
        }
    }
    section.view2{
        width: 100%;
        background-color: #EAE5FA;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 4rem 1.5rem;

        .top{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            h2{
                font-family: f3;
                font-size: 2.5rem;

                span{
                    color: #E80194;
                }
            }
            p{
                font-family: f7;
                font-size: 1.2rem;
            }
        }

        .bottom{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5rem;
            .card{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                padding: 0rem 4rem;
                width: 100%;
                .circle{
                    height: 15rem;
                    width: 15rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    background-color: white;
                    img{
                        width: 75%;
                    }
                }
                .txt{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 0.7rem;

                    button{
                        color: #521FCC;
                        background-color: white;
                        padding: 0.7rem 1.5rem;
                        font-family: f4;
                        border: none;
                        font-size: 1rem;
                        border-radius: 2rem;
                        text-transform: uppercase;
                    }
                    p{
                        font-size: 1.1rem;
                        font-family: f1;
                        color: #521FCC;
                        text-align: center;
                    }
                }
            }
        }
    }
   
}

@media (min-width:1081px){
    main{
        nav{
            padding: 0rem 2rem;
           
            .inner{
                padding: 1rem 3rem;
               .left{
                display: flex;
               }
               .right{
                display: flex;
               }
               .center{
                img{
                    width: 25%;
                }
               }
               .rright{
                display: none;
               }
            }
        }
        section.view1{
            gap: 1rem;

            .top{
                padding: 2rem 24rem;
                text-align: center;

                h2{
                    font-size: 5rem;
                    line-height: 4.8rem;
                }
                .txt{
                    flex-direction: row;
                    gap: 2rem;
                }
            }

            .bottom{
                .circle{
                    padding: 40rem;
                    left: 50%;
                    bottom: -330%;
                    transform: translate(-50%,0);
                    img{
                        width: 40%;
                        top: -8%;
                        left: 43%;
                    }
                }
            }
        }
    }
    
}
